body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(238,174,202);
  background: rgb(97, 217, 253)
}

#resetButton{
  margin-left: 20px;
  padding: 0;
  border: none; 
  background: none; 
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  font-size: 35px;
}

#undoButton{
  margin-left: 20px;
  padding: 0;
  border: none; 
  background: none; 
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  font-size: 35px;
}

#Visszaindex{
  margin-left: 20px;
  padding: 0;
  border: none; 
  background: none; 
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  font-size: 35px;
}



.logo{
  max-width: 150px;
}

.fejlec{
  background-color: rgb(97, 217, 253);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

h1 {
  width: 150px;
  margin:0;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h4, h2 {
  color: rgb(0, 0, 0);
}

img{
  width: 100%;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction:row-reverse;
  justify-content:space-between;
  align-items: flex-start;
}

.shapes-container {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 15px; 
}

.shape{
  cursor: move;
  border: 1px solid black;
}

.main{
  margin: 50px;
 
}

.table {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 5px solid #000000;
  margin: auto;
}

.table > div {
  width: 50px; 
  height: 50px; 
  border: 1px solid #000000; 
  background-color: rgb(29, 201, 253);
}

#congratsMessage{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25%;
  font-size: 36px;
  font-weight: bold;
  color: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

#congratsMessage button {
  width: 200px;
  margin: 0;
}